.navbar{
   padding: 0.5rem 2rem;
   display: flex;
   gap: 4rem;
   align-items: center;
   justify-content: flex-start;
}

.navbar a {
   text-decoration: none; /* Remove underline */
   color: white; /* Preserve the default text color */
   font-size: 18px;
 }
